.card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: 30%;
	border-radius: 10px;
	background-color: rgba(70, 69, 69, 0.904);
	margin: 10px;
	color: honeydew;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.774);
}

.imgUser{
	width: 50%;
	margin: 5px;
}
.img{
	max-width: 100%;
    height: auto;
}

.cardInfo{
	display: flex;
	flex-direction: column;
}